<nav class="l_container n_height">
  <div class="l_flexbox">
    <button class="n_btn_bar" type="button"><i class="fas fa-bars"></i></button>
    <div>
      <a routerLink="/desertstore/home">
        <img src="../../../../assets/images/logo-all-dark.svg" height="40" alt="logo">
      </a>
    </div>
    <div class="n_ml_auto">
      <ul class="n_ul">
        <li><a>首頁</a></li>
        <li><a>甜點</a></li>
        <li><a>登入</a></li>
      </ul>
    </div>
    <div class="n_shopping_car">
      <a><i class="fas fa-shopping-cart"></i></a>
    </div>
  </div>
</nav>
