$main_txt_color: #3F5D45;
$sub_txt_color:#FFFFFF;
$content_txt_color:#8DA291;
$register_bak_color:#EAF0ED;
$arrow_btn_bak_color:#FFE180;
$arrow_btn_hover_color:#FFDD55

// .l-flexbox{
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
// }
