<div class="f_container">
  <div>
    <div class="f_flexbox">
      <img src="../../../../assets/images/logo-light.svg" width="40" height="40" alt="footer">
      <h3 class="f_subscribe_inline">訂閱你我的甜蜜郵件</h3>
      <div class="f_register_box">
        <i class="fas fa-envelope f_envelope_style"></i>
        <input type="text" class="f_input" placeholder="XXX">
        <button type="button" class="f_arrow_button"><i class="fas fa-arrow-right"></i></button>
      </div>
    </div>
  </div>
</div>
