@import '../basic';

.n_height {
  height: 100px;
}

.l_flexbox {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.n_ul {

  display: flex;
  li {
    a {
      text-align: left;
      font-weight: bold;
      color: $main_txt_color;
      letter-spacing: 0;
      opacity: 1;
      transition: 0.3s all;
      padding: 30px;

      &:hover{
        color:white;
        background-color: $main_txt_color;
      }
    }
  }
}
